.overlay {
  position: absolute;
  top: 0;
  background: var(--color-overlay-background);
  padding: var(--spacing-md);
  max-height: min(100%, 100vh);
  overflow-y: auto;
}

.detailsSection {
  padding-left: var(--spacing-md);
}

.detailsSection > div {
  padding-left: var(--spacing-md);
}
